<div class="container">
    <div class="row row-all-view justify-content-center align-items-center">
        <div class="col-12">
            <div class="row d-block">
                <div class="row justify-content-center mb-2">
                    <h2 class="header-2 ">Dodanie nowego mieszkania</h2>
                </div>
                <div class="row justify-content-center ">
                    <div class="col-6">

                        <%= form_with(model: @appartment, url: appartments_path,  class: "shadow p-3 mb-3 bg-secondary rounded", local: true)  do |f| %>
                            <%= f.label :Blok, class: "col-12 col-form-label text-light" %>
                            <%= f.select(:block_name, options_for_select(["Tęczowy","Słoneczny","Chmurkowy"]), {}, class:"form-control col-12 mb-3") %>
                            <%= f.label :numer_mieszkania, class: "col-12 col-form-label text-light" %>
                            <%= f.text_field :number_of_appart, class: "form-control shadow rounded col-12 mb-3", placeholder: "Numer mieszkania" %>
                            <%= f.submit 'Dodaj', class:'btn btn-outline-success' %>
                        <% end %>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
